/*layout*/
body {
	background-color: #B2A6E3;
}

#content {
	background-color:#fff;
	width:60em;
	padding:2em;
	margin-left:auto;
	margin-right:auto;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

footer {
	background-color:#fff;
	padding:2em;
	width:60em;
	margin-left:auto;
	margin-right:auto;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

header {
	width:60em;
	margin-left:auto;
	margin-right:auto;
}

header .logo {
	padding:.5em;
	border-radius:5px;
	background-color:#fff;
	width:50px;
	height:50px;
}

/*
Contact
*/

#contact:before {
	width:0px;
	height:0px;
	left:-10px;
	top:1px;
	position:relative;
	display:inline-block;
	content:"";
}

#contact.compact:before {
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-left:10px solid black;
}

#contact.expanded:before {
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:10px solid black;
}

#contact {
	width:250px;
	padding-left:20px;
	border:3px dashed #3613BF;
	background-color: #B2A6E3;
	border-radius:5px;
}

#contact>div {
	margin-left:10px;
}

#contact.compact div{
	display:none;
}

#contact a:link, #contact a:visited, #contact a:hover, #contact a:hover {
	text-decoration:none;
	font-weight:normal;
	color:#000;
}