body {
	background-color: B2A6E3;
}

#content {
	background-color:#fff;
	width:900px;
}

footer {
	background-color:#fff;
	width:900px;
}

#contact:before {
	width:0px;
	height:0px;
	left:-10px;
	top:1px;
	position:relative;
	display:inline-block;
	content:"";
}

#contact.compact:before {
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-left:10px solid black;
}

#contact.expanded:before {
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:10px solid black;
}

#contact {
	width:400px;
	padding-left:20px;
	border:3px dashed #3613BF;
	background-color: #8171BF;
}

#contact>div {
	margin-left:10px;
}

#contact.compact div{
	display:none;
}