#contact:before {
	width:0px;
	height:0px;
}

#contact.compact:before {
	position:relative;
	left:-10px;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-left:10px solid black;
}

#contact.expanded:before {
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:10px solid black;
}

#contact {
	width:auto;
	padding-left:10px;
	border:6px dashed rgb(17,62,145);
	background-color: rgb(97,133,201);
}