<!DOCTYPE html>
<head>
	<title>JHawrylak - {{page.title}}</title>
	<link  rel="stylesheet" href="/css/default.css" /> 
</head>
<body>
	{{ content }}
	<div id="contact" class="compact">Contact:
		<div id="hcard-Jarrett-Hawrylak" class="vcard">
			<a class="url fn" href="http://jhawrylak.github.com">Jarrett Hawrylak</a>
			<div class="adr">
				<span class="locality">Pittsburgh</span>,<abbr class="region" title="Pennsylvania">PA</abbr>
				<span class="country-name">USA</span>
			<div>Email: 
			<a class="email" href="mailto:jhawrylak+vCard@verizon.net">jhawrylak@verizon.net</a>
			</div>
			<a class="url twitter" href="https://twitter.com/#!/Jhawrylak">@JHawrylak</a>
		</div>
	</div>
	<script src="/js/zepto.min.js"></script>
	<script src="/js/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</body>